$profile-pic-size: 200px;
.portfolio-modal {
  background-color: white;
  position: relative;

  width: 100%;
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;

 /*   top: 30vh;
  min-height: 70vh;
  overflow-y: visible;*/


  .profile-image {
    border-radius: 50%;
    width: $profile-pic-size;
    height: $profile-pic-size;
    margin-top: calc(-#{$profile-pic-size} / 2);
    border: 5px white solid;
    box-shadow: 3px 5px 10px;
    margin-bottom: 50px;
  }
}
