@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2em 0;
}

.icon {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
  
  box-shadow: 0 3px 4px rgba(0,0,0,.4);
  border: none;
  transition: all .2s;

  &:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.6);
  }
}

