@import 'settings/__settings';
@import 'util/__util';
@import 'components/__components';
@import 'pages/__pages';

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.ReactModal__Overlay{
  // position: absolute !important;
  // transform: translateY(-100vh);
  height: 100vh;
  // overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  top: 300px !important;
  bottom: auto !important;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  position: absolute !important;
  top: 0px !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  top: 300px !important;
}

.test-modal{
  width: 100%;
  min-height: 70vh;
  position: absolute;
  top:30vh;
  background-color: #F2F2F2;
}

main {
  padding: 2em 0;
}

.icon {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  border: none;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
}

.marker-cluster-custom {
  background: #aae0f0;
  border: 3px solid #aad3df;
  border-radius: 50%;
  color: #000;
  height: 50px;
  line-height: 46px;
  text-align: center;
  width: 50px;
}
