@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2em 0;
}

.icon {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
  
  box-shadow: 0 3px 4px rgba(0,0,0,.4);
  border: none;
  transition: all .2s;

  &:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.6);
  }
}

.profile{
  min-width: 200px;
  max-width: 400px;
}

.social-links{
  display: flex;
  justify-content: space-evenly;
}

.divider{
  border-bottom: 1px black solid;
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
}

a{
  text-decoration: none;
  color: inherit !important;
}

i{
  font-size: 1.4rem;
}